.home {
  background-color: #7de5ed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}
