.sidebar {
  flex: 1;
  background-color: white;
  border-right: 1px solid rgb(227, 226, 226);
}

.chat {
  flex: 2;
  background-color: white;
}

.navbar {
  background-color: #472183;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  color: white;
}
.appname {
  font-weight: 700;
  cursor: pointer;
}
.user {
  display: flex;
  gap: 10px;
}
img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.profilename {
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.signoutbtn {
  background-color: rgb(225, 44, 44);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.signoutbtn:hover {
  background-color: rgb(194, 11, 11);
}
.signoutbtn:active {
  transform: scale(0.9);
}

.search {
  border-bottom: 1px solid rgb(227, 226, 226);
}
.searchinput {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.searchchat {
  align-items: center;
  height: 28px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
}
.userchat {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.userchat:hover {
  background-color: rgb(119, 32, 189);
}
.userchatname {
  font-weight: 500;
  font-size: medium;
}
.lastmsg {
  font-size: smaller;
  font-weight: 400;
}

.chatinfo {
  color: white;
  height: 50px;
  background-color: rgb(119, 32, 189);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.chaticons {
  margin-right: 10px;
  display: flex;
  gap: 10px;
  height: 16px;
}

.messages {
  background-color: rgb(234, 231, 231);
  height: 400px;
  overflow-y: scroll;
}

.owner {
  flex-direction: row-reverse;
}
.message {
  display: flex;
}
.messageInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.justnow {
  color: rgb(148, 148, 148);
}
.messagecontent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.messagetext {
  background-color: #8249ed;
  /* border-radius: 10px 0px 10px 10px; */
  border-radius: 10px;
  color: white;
  max-width: max-content;
  padding: 5px 10px 8px 10px;
}
.image {
  width: auto;
  height: auto;
  border-radius: 5px;
}

.input {
  background-color: rgb(234, 231, 231);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sendinput {
  outline: none;
  border: none;
  background-color:white;
  margin-left: 30px;
  padding: 10px;
  border-radius: 50px;
  width: 400px;
}

.attach {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sendimg {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sendbtn {
  background-color: rgb(119, 32, 189);
  font-size: larger;
  margin-right: 20px;
  color: white;
  border-radius: 100px;
  padding: 10px 10px;
  transition: all 0.2s;
}
.sendbtn:hover {
  background-color: rgb(85, 22, 121);
}
.sendbtn:active {
  transform: scale(0.9);
}
